# Raw results
benchmark-results/raw-results/*

# Maven

/target/

# Ignore child project's targets as well
/*/target/
# And any grandchildren ...
/*/*/target/


*.RData
*.Rhistory

# Tar backups
benchmark-results/backup/*

# Files
*.metadata
*.DS_Store

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
